<p> support works!</p> 

<div id="main-div">
    <div id="main-support-box">
        <div id="support-paragraph">
            <h2> Support </h2>
            <h4>
                Help support is a source intended to
                <br> provide the customer or end-user with
                <br> information and support related to a
                <br> company's products and services.
            </h4>
        </div>
        <img id="main-support-pic" src="../../assets/images/mainSupport.jpg">
    </div>

    <div id="support-options">
        <div class="allign-options">
            <a (click)="ViewOrSave()" (mouseout)="changeDocumentation=false">
                <span *ngIf="!changeDocumentation">
                    <img class="support-options-pic" src="../../assets/images/Documantaion.jpg">
                    <h2> Documentation </h2>
                </span>
            </a>
            <div>
                <span *ngIf="changeDocumentation" (mouseout)="changeDocumentation=false">
                    <div class="pdf-container">
                        <textarea [(ngModel)]="pdfSource"></textarea>

                        <pdf-viewer [src]="pdfSource" [original-size]="false"></pdf-viewer>
                    </div>
                </span>
            </div>
        </div>
        <div>
            <a (click)="changeForm=true">
                <span *ngIf="!changeForm">
                    <img class="support-options-pic" src="../../assets/images/Documantaion.jpg">
                    <h2> Request Form </h2>
                </span>
                <span *ngIf="changeForm">
                    <form #supportForm="ngForm" (ngSubmit)="getValues(supportForm.value)">
                        <input type="text" name="companyName" placeholder="company's name">
                        <br><br>
                        <input type="text" ngModel name="appName" placeholder="app's name">
                        <br><br>
                        <input type="text" ngModel name="adminName" placeholder="your name">
                        <br><br>
                        <input type="date" ngModel name="requestDate" placeholder="date">
                        <br><br>
                        <input type="text" ngModel name="moreInfo" placeholder="enter your company's name">
                        <br><br>
                        <button> Submit </button>
                    </form>
                </span>
            </a>
        </div>
        <div >
            <a (click)="changeContacts=true" (mouseout)="changeContacts=false">
                <span *ngIf="!changeContacts">
                    <img class="support-options-pic" src="../../assets/images/Documantaion.jpg">
                    <h2> Contacts </h2>
                </span>
            </a>
            <div>
                <span *ngIf="changeContacts" (mouseout)="changeContacts=false">
                    <div class="container">
                        <h2> phone: 011 45xxxxxx</h2>
                        <h2> email: taqnia@taqnia.com</h2>
                        <h2> address: 123 Business Gate </h2>
                    </div>
                </span>
            </div>
        </div>
        <div >
            <a (click)="changeContacts=true" (mouseout)="changeContacts=false">
                <span *ngIf="!changeContacts">
                    <img class="support-options-pic" src="../../assets/images/Documantaion.jpg">
                    <h2> Tickets </h2>
                </span>
            </a>
            <div>
                <span *ngIf="changeContacts" (mouseout)="changeContacts=false">
                    <div class="container">

                    </div>
                </span>
            </div>
        </div>
    </div>
</div>