pdf-viewer {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(5px 5px 5px #222222);
}

textarea {
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#support-paragraph {
  margin-left: 10%;
}

#main-support-box {
  width: 100%;
  /* height: 70%; */
  padding: 10px;
  border: 2px solid gray;
  margin: 0;
}

#main-support-pic {
  width: 25%;
  height: 25%;
  float: right;
}

#support-options {
  boarder: 2px solid gray;
}

#allign-options {
}
