pdf-viewer {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(5px 5px 5px #222222);
}

textarea {
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#main-div {
  width: 80%;
  height: 50%;
}

#main-support-box {
  display: inline-block;
  /* height: 70%; */
  padding: 10px;
  border: 2px solid gray;
  width: inherit;
}

#support-paragraph {
  display: inline-block;
  margin-left: 10%;
}

#main-support-pic {
  float: right;
  width: 15%;
  height: 45%;
}

#support-options {
  border: 2px solid gray;
}

#allign-options {
  display: inline-block;
}
